<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	
	<f:layout name="Default" />

	<f:section name="content">

		<f:flashMessages />

<f:debug>{_all}</f:debug>
<f:debug>{_all}</f:debug>
<f:comment>

		<f:link.action action="list">Back to list</f:link.action><br />
		<f:link.action action="new">New Bookobject</f:link.action>
</f:comment>


<div class="clearer"></div>
<div class="legend">
	<div class="item">
		<div class="day partialDay day1">24</div><div class="legendTitle">teilweise</div>
	</div>
	<div class="item">
		<div class="day bookedDay day1">24</div><div class="legendTitle">belegt</div>
	</div>
	<div class="item">
		<div class="day vacantDay day1">24</div><div class="legendTitle">verfügbar</div>
	</div>
</div>

<div class="clearer"></div>




		<div id="ajaxResult"></div>

<script>
	//pageId
	var id = <f:format.raw>{id}</f:format.raw>;
	var year = <f:format.raw>{year}</f:format.raw>;
	var month = <f:format.raw>{month}</f:format.raw>;
	var calendar = "<f:format.raw>{settings.defaultCalendar}</f:format.raw>";
	var bookobjectUid = '';
	var bookingDate = <f:format.raw>{bookingDate}</f:format.raw>;;
	
	////////// main ajax function //////////////
	function getCalendar(m, y, calendar, bookingDate, bookobjectUid) {
		var ajaxRequestUrl = "index.php?eIDx=booking&id=" + id,
			requestParameter = {
				tx_booking_ajax : {
					controller : 'BookObject',
					action : 'ajaxPsr',
					year: y,
					month: m,
					calendar: calendar,
					date: bookingDate,
					bookobjectUid: bookobjectUid
				}
			};

		$.post(ajaxRequestUrl, requestParameter, function (data) {
			$('#ajaxResult').html(data);

			$("table.bookingTable").wrap('<div class="table-scrollable"></div>');

			$('table.tableMultiRow td.vacantDay div, table.tableMultiRow td.bookedDay div,' +
			  'table.tableMultiRow td.vacantWeekend div, table.tableMultiRow td.partialDay div').click(function() {
				var bookingDate = $(this).children().attr('date');
				var bookobjectUid = $(this).children().attr('objectUid');
				$('.tx-booking .legend').css('display', 'none');
				getCalendar(month, year, 'form', bookingDate, bookobjectUid);
				
				
			});

			$('.tx-booking table img.insertBooking').click(function() {
				var dayTime = $(this).attr('date');
				var hour = $(this).attr('hour');
				var bookobjectUid = $(this).attr('bookobjectUid');
				var memo = $('textarea#' + hour).val();
				insertBooking(bookobjectUid, dayTime, hour, memo);
			});		
			$('.tx-booking table img.deleteBooking').click(function() {
				var bookUid = $(this).attr('bookuid');
				deleteBooking(bookUid);
			});		
	
			$('.prevMonth').click(function() {
				month--;
				if (month == 0) {
					month = 12; year--;
				}
				getCalendar(month, year, 'month', '');
			});
			$('.nextMonth').click(function() {
				month++;
				if (month > 12) {
					month = 1; year++;
				}
				getCalendar(month, year, 'month', '');
			});

			
			// weekView
			//$('span.booked').prev().css('border', '4px solid green');
			$('.weekdayTable span.booked').parent().css('background-color', 'rgb(253, 141, 22)');
			$('.weekdayTable').click(function() {
				var bookingDate = $(this).find('td.weekdayTable').attr('date');
				var bookobjectUid = $(this).find('td.weekdayTable').attr('bookobjectUid');
				var operationHours = $(this).find('span').attr('operationHours');
				getCalendar(month, year, 'form', bookingDate, bookobjectUid);
			});

			// showMonthView button			
			$('.showMonthView').click(function() {
				var year = $('#year').html();
				var month = $('#month').html();
				var bookobjectUid = $('#bookobjectUid').html();
				getCalendar(m, year, 'month', bookingDate, bookobjectUid)
				$('.tx-booking .legend').css('display', 'block');
			});

			// showWeekView button			
			$('.showWeekView').click(function() {
				var year = $('#year').html();
				var month = $('#month').html();
				var bookingDate = $('#bookingDate').html();
				var bookobjectUid = $('#bookobjectUid').html();
				getCalendar(m, year, 'week', bookingDate, bookobjectUid)
			});

//			eventFunctions();
			// showPreviousWeek icon			
			$('.weekView .previousWeek').click(function() {
				var year = $('#year').html();
				var month = $('#month').html();
				var bookingDate = $('#bookingDate').html();
				var bookobjectUid = $('#bookobjectUid').html();
				bookingDate = parseInt(bookingDate) - (86400 * 13);
				getCalendar(month, year, 'week', bookingDate, bookobjectUid)
			});
			$('.weekView .nextWeek').click(function() {
				var year = $('#year').html();
				var month = $('#month').html();
				var bookingDate = $('#bookingDate').html();
				var bookobjectUid = $('#bookobjectUid').html();
				bookingDate = parseInt(bookingDate) + (86400 * 6);
				getCalendar(month, year, 'week', bookingDate, bookobjectUid)
			});

		});
	}

	function deleteBooking(bookUid, bookobjectUid, bookingDate) {
		var ajaxRequestUrl = "index.php?eIDx=booking&id=" + id,
			requestParameter = {
				tx_booking_ajax : {
					controller : 'BookObject',
					action : 'ajaxPsr',
					calendar: 'deleteBooking',
					date: bookingDate,
					bookobjectUid: bookobjectUid,
					bookUid: bookUid
				}
			};

		$.post(ajaxRequestUrl, requestParameter, function (data) {
			$('#ajaxResult').html(data);
			$("table.bookingTable").wrap('<div class="table-scrollable"></div>');
			eventFunctions();
		});
	}

	function insertBooking(bookobjectUid, dayTime, hour, memo) {
		var ajaxRequestUrl = "index.php?eIDx=booking&id=" + id,
			requestParameter = {
				tx_booking_ajax : {
					controller : 'BookObject',
					action : 'ajaxPsr',
					calendar: 'insertBooking',
					dayTime: dayTime,
					hour: hour,
					bookobjectUid: bookobjectUid,
					memo: memo
				}
			};

//console.log(requestParameter);			

		$.post(ajaxRequestUrl, requestParameter, function (data) {
			$('#ajaxResult').html(data);
			$("table.bookingTable").wrap('<div class="table-scrollable"></div>');
			eventFunctions();
		});
	}
	
	function eventFunctions() {
			$('.tx-booking table img.insertBooking').click(function() {
				var dayTime = $(this).attr('date');
				var hour = $(this).attr('hour');
				var bookobjectUid = $(this).attr('bookobjectUid');
				var memo = $('textarea#' + hour).val();
				insertBooking(bookobjectUid, dayTime, hour, memo);
			});		
			$('.tx-booking table img.deleteBooking').click(function() {
				var bookUid = $(this).attr('bookuid');
				deleteBooking(bookUid);
			});		

			// showMonthView button
			console.log('eventFunction');
			$('.showMonthView').click(function() {
				var year = $('#year').html();
				var month = $('#month').html();
				var bookobjectUid = $('#bookobjectUid').html();
				getCalendar(month, year, 'month', bookingDate, bookobjectUid)
			});

			// showWeekView button			
			$('.showWeekView').click(function() {
				var year = $('#year').html();
				var month = $('#month').html();
				var bookingDate = $('#bookingDate').html();
				var bookobjectUid = $('#bookobjectUid').html();
				getCalendar(month, year, 'week', bookingDate, bookobjectUid)
			});

			// showPreviousWeek icon			
			$('.weekView .previousWeek').click(function() {
				var year = $('#year').html();
				var month = $('#month').html();
				var bookingDate = $('#bookingDate').html();
				var bookobjectUid = $('#bookobjectUid').html();
				bookingDate = parseInt(bookingDate) - (86400 * 13);
				getCalendar(month, year, 'week', bookingDate, bookobjectUid)
			});
			$('.weekView .nextWeek').click(function() {
				var year = $('#year').html();
				var month = $('#month').html();
				var bookingDate = $('#bookingDate').html();
				var bookobjectUid = $('#bookobjectUid').html();
				bookingDate = parseInt(bookingDate) + (86400 * 6);
				getCalendar(month, year, 'week', bookingDate, bookobjectUid)
			});


	}
	
	
	
	
	$(function() {
		getCalendar(<f:format.raw>{month},{year}</f:format.raw>, '{settings.defaultCalendar}', {bookingDate});
	});


</script>


	<div class="clearer"></div>
	</f:section>
</html>