<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	
	<f:layout name="Default" />

	<f:section name="content">
		<h1>CalendarBase</h1>
		<f:flashMessages />

<f:debug>{_all}</f:debug>
<f:debug>{_all}</f:debug>

<f:comment>
		<f:link.action action="list">Back to list</f:link.action><br />
		<f:link.action action="new">New Bookobject</f:link.action>
</f:comment>


<div class="clearer"></div>
<div class="legend">
	<div class="item">
		<div class="day partialDay day1">24</div><div class="legendTitle">teilweise</div>
	</div>
	<div class="item">
		<div class="day bookedDay day1">24</div><div class="legendTitle">belegt</div>
	</div>
	<div class="item">
		<div class="day vacantDay day1">24</div><div class="legendTitle">verfügbar</div>
	</div>
</div>

<div class="clearer"></div>




		<div id="ajaxResult"></div>

<script>
	
	var id = <f:format.raw>{id}</f:format.raw>;
	var year = <f:format.raw>{year}</f:format.raw>;
	var month = <f:format.raw>{month}</f:format.raw>;
	var calendar = "<f:format.raw>{settings.defaultCalendar}</f:format.raw>";
	//var bookingDate = '';
	
	function getCalendar(m, y, calendar, bookingDate) {
		var ajaxRequestUrl = "index.php?eIDx=booking&id=" + id,
			requestParameter = {
				tx_booking_ajax : {
					controller : 'BookObject',
					action : 'ajaxPsr',
					year: y,
					month: m,
					calendar: calendar,
					date: bookingDate
				}
			};

		$.post(ajaxRequestUrl, requestParameter, function (data) {
			$('#ajaxResult').html(data);

		$('table.tableMultiRow td div').click(function() {
			//console.log($(this).children().attr('date'));
$(this).children().css('border', '3px solid green');			
console.log($(this).children().attr('date'));
				var bookingDate = $(this).children().attr('date');
				getCalendar(month, year, 'form', bookingDate);


		});

		

			$('.prevMonth').click(function() {
				month--;
				if (month == 0) {
					month = 12; year--;
				}
				getCalendar(month, year, 'month', '');
			});
			$('.nextMonth').click(function() {
				month++;
				if (month > 12) {
					month = 1; year++;
				}
				getCalendar(month, year, 'month', '');
			});

		});
	}

	$(function() {

		getCalendar(<f:format.raw>{month},{year}</f:format.raw>, 'month');

//console.log($('.tableMultiRow td div').html());
//$('.monthMultiRow').css('font-size', '30px');
//		$('.monthMultiRow td div').css('border', '5px solid red !important');
		$('table.tableMultiRow td.vacantDay div').click(function() {
			alert(88);
		});

	});


</script>



	</f:section>
</html>