<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />


	<f:section name="content">

<f:comment>
<f:debug>{_all}</f:debug>
		<f:flashMessages />
</f:comment>


		<script>
			$('.tx-booking .legend').css('display', 'none');
		</script>

		<f:format.raw>{message}</f:format.raw>
		
		<div class="bookingForm">
		<div class="bookobjectTitle">{bookobject.name}</div>
		<div class="Date"><f:format.date format="d.m.Y">{dayTime}</f:format.date></div>

		<f:comment> Whole day booking / deleting</f:comment>
		<button class="btn btn-primary mr-2" id="allDay" bookobjectUid="{bookobject.uid}" date="{dayTime}">{bookDayLabel}</button>
		<button class="btn btn-warning" id="noneDay" bookobjectUid="{bookobject.uid}" date="{dayTime}">{deleteDayLabel}</button>

		
		<table class="bookingTable">
			<tr></tr><th>{timeLabel}</th><th><f:translate key="name" extensionName="booking" /></th><th><f:translate key="Memo" extensionName="booking"/></th><th>{bookLabel}</th><th>{deleteLabel}</th></tr>
			
		<f:for each="{hours}" as="hour" iteration="iter">
				<f:variable name="hourBooked" value="0" />
				<tr><td>{hour}:00 - {hour + 1}:00 </td>
					<f:for each="{bookings}" as="booking" iteration="iterator">
						<f:if condition="<f:format.date format='H'>{booking.startdate}</f:format.date> == {hour}">
							<f:then>
								<f:variable name="hourBooked" value="1" />
								<td> {booking.username}<br />{booking.first_name} {booking.last_name} </td><td><textarea disabled="disabled">{booking.memo}</textarea></td><td></td>
								<td>
									<f:if condition="{feUserUid} == {booking.feuseruid}">
                                        <f:variable name="uriImg"><f:uri.image src="EXT:booking/Resources/Public/Icons/actions-delete.svg" /></f:variable>
                                        <img class="deleteBooking bkPlus" src="/{uriImg}" bookUid="{booking.uid}" />
									</f:if>
								</td>
							</f:then>
							
						</f:if>
					</f:for>
					<f:if condition="{hourBooked} == 0">
						<td></td><td><textarea id="{hour}" ></textarea></td><td>
						<f:for each="{disabledHours}" as="disabledHour" iteration="iterdisabled">
						<f:if condition="{iterdisabled} == {iter} && {disabledHour} == 0">
                            <f:variable name="uriImg"><f:uri.image src="EXT:booking/Resources/Public/Icons/actions-save.svg" /></f:variable>
                            <img class="insertBooking bkMinus" src="/{uriImg}" bookobjectUid="{bookobject.uid}" date="{dayTime}" hour="{hour}" />
						</f:if>
						</f:for>
						</td><td></td>
					</f:if>
				</tr>
		</f:for>
		</table>
		</div>

		<div class="hidden" id="year"><f:format.date format="Y">{dayTime}</f:format.date></div>
		<div class="hidden" id="month"><f:format.date format="m">{dayTime}</f:format.date></div>
		<div class="hidden" id="bookingDate">{dayTime}</div>
		<div class="hidden" id="bookobjectUid">{bookobject.uid}</div>

		<button class="showWeekView">{weekViewLabel}</button>
		<button class="showMonthView">{monthViewLabel}</button>


	<script type="text/javascript">
	//<f:format.cdata>
		jQuery(document).ready(function($) {
			if ($(".bkMinus").length < $(".bookingTable textarea").length){
				$("#allDay").addClass('d-none');
			}
			if ($(".bkPlus").length != $(".bookingTable textarea").length){
				$("#noneDay").addClass('d-none');
			}
		});
		//</f:format.cdata>
	</script>





	</f:section>
</html>