


.tx-booking .typo3-messages {
	list-style: none !important;
	border-radius: 20px;
}		
.tx-booking .typo3-messages li {
	border-radius: 10px;
	padding: 20px;
}		
.tx-booking .error {
	padding: 20px;
	background-color: orange;
	font-weight: bold;
	
}
.tx-booking .hidden {
		display: none;
}
.tx-booking .clearer {
	clear: both;
}
.tx-booking .basket ul {
		padding-left: 0;
}


.tx-booking .monthMultiRowList th {
	cursor: pointer;
}

.tx-booking div.multiRow {
}

/* multiRowCalendar legend*/
.tx-booking .legend {
	margin: 20px 0px;
	
}
.tx-booking .legend .item {
		position: relative;
		margin: 20px;
		float: left;
}

.tx-booking .legend div.day {
	font-weight: bold;
	line-height: 26px;
	vertical-align: middle;
}


.tx-booking .legend  div.day  {
	display: table-cell;
	width: 29px;
	height: 29px;
	vertical-align: middle;
	text-align: center;
}
.tx-booking .legend  div.partialDay  {
	background-image: url('../Icons/partialBooked.png');
	background-size: 32px 40px;
}
.tx-booking .legend  div.bookedDay  {
	background-color: #FF9933;
}
.tx-booking .legend  div.vacantDay  {
	background-color: #FFF;
}



.tx-booking table.monthMultiRow td div {
		width: 32px;
		height: 40px;
		font-size: 20px;
		padding-top: 8px;
}

.tx-booking table.monthMultiRow {
	border: 1px solid black;
	float: left;
	display: block;
	height: 410px;
	background-color: #d0d0d0;
}

.tx-booking table.monthMultiRow  table {
	border-spacing: 2px;
}
.tx-booking table.monthMultiRow .nextMonth {
	vertical-align: middle;
	line-height: 25px;
	font-size: 25px;
}
.tx-booking table.monthMultiRow .prevMonth {
	line-height: 25px;
	font-size: 25px;
}


.tx-booking table.monthMultiRow td {
	font-size: 18px;
}

.tx-booking table.monthMultiRow .monthNameMultiRow {
	font-weight: bold;
	vertical-align: middle;
}
.tx-booking .bookObjectName {
	font-weight: normal !important;
	text-align: center;
}


.tx-booking .tableMultiRow td.vacantWeekend {
	text-align: center;
	background-color: #8080ff;
}


.tx-booking .tableMultiRow td.vacantDay,
.tx-booking .tableMultiRow td.bookedDay,
.tx-booking .tableMultiRow td.bookingEnd,
.tx-booking .tableMultiRow td.bookingStartAndEnd,
.tx-booking .tableMultiRow td.bookedWeekend {
	text-align: center;
	background-color: #fff;
}




.tx-booking .tableMultiRow td.bookedDay,
.tx-booking .tableMultiRow td.bookedWeekend {
	background-color: #FF9933;
}
.tx-booking .tableMultiRow td.bookingStart,
.tx-booking .tableMultiRow td.bookingEnd {
	background-color: #00e000;
}



/* partial booking */
.tx-booking .tableMultiRow td.partialDay {
	background-image: url('../Icons/partialBooked.png');
	background-size: 32px 40px;
	line-height: 23px;
	text-align: center;
}
/* booked day booking */
.tx-booking .tableMultiRow td.bookedDay {
	background-color: #FF9933;
}



.tx-booking .tableMultiRow td.bookingEnd {
	background-color: #fff;
	background-image:url("/typo3conf/ext/booking/Resources/Public/Icons/bookingEndRed.gif");
}	
.tx-booking .tableMultiRow td.bookingStartAndEnd {
	background-color: #fff;
	background-image:url("/typo3conf/ext/booking/Resources/Public/Icons/bookerChangedDayRed.gif");
}	

/********** booking form **********/

.tx-booking .bookingForm .bookobjectTitle {
	font-size: 20px;
	font-weight: bold;
}
.tx-booking .bookingForm .date {
	font-weight: bold;
}

.tx-booking .bookingTable {
	border-collapse: collapse;
}
.tx-booking .bookingTable td {
	padding: 10px;
}
.tx-booking .bookingTable tr:nth-child(2n) {
	background-color: #e0e0e0;
}

/* scrollable table */
.table-scrollable {
  width: 100%;
  overflow-y: auto;
  margin: 0 0 1em;
}

.table-scrollable::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}

.table-scrollable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, .3);
}

/******* week view **********/
.tx-booking .weekdayTable {
	position: relative;
	float: left;
}

.tx-booking .weekdayTable div {
	background-color: #808080; /* disabled */
}
.tx-booking .weekdayTable .operating
{
	background-color: #83d266; /* operating hour */
}

.tx-booking .bookobjectWeek  {
	margin: 20px 0px;
	background-color: #e0e0e0;
}

/* Links for week and month view */

.tx-booking .showWeekView  {
}

.tx-booking .showMonthView  {
}

.tx-booking .weekView {
		background-color: #e0e0e0;
}
.tx-booking .weekView .bookobjectTitle {
		margin-top: 30px;
		font-size: 25px;
}
/* Links for previos week */
.tx-booking .previousWeek, .tx-booking .nextWeek  {
		width: 20px;
}
