<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="objectuid">
	<f:translate key="tx_booking_domain_model_book.objectuid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="objectuid" /><br />
<label for="startdate">
	<f:translate key="tx_booking_domain_model_book.startdate" />
</label><br />
	<f:form.textfield property="startdate" /><br />
<label for="enddate">
	<f:translate key="tx_booking_domain_model_book.enddate" />
</label><br />
	<f:form.textfield property="enddate" /><br />
<label for="feuseruid">
	<f:translate key="tx_booking_domain_model_book.feuseruid" />
</label><br />
	<f:form.textfield property="feuseruid" /><br />
<label for="memo">
	<f:translate key="tx_booking_domain_model_book.memo" />
</label><br />
	<f:form.textfield property="memo" /><br />
</html>